.font-large {
  font-size: large;
}

.font-small {
  font-size: small;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.fit-content {
  width: fit-content;
}

.no-text-wrap {
  white-space: nowrap;
}
