@import './assets/styles/normalize.css';
@import './design/custom.scss';
@import './design/mixins/spacing-generators.scss';
@import './design/animations.scss';
@import './design/declarative.scss';

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--header-height);
}

body {
  background-color: var(--page-background);
}